

/*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


html, body {
  font-family:  "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 2;
}

@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

body {
  color: black;                      /* 字体颜色 */
  -webkit-text-size-adjust: 100%;    /* 关闭苹果和安卓字体自动调整*/
      -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #268bd2;
  text-decoration: none;
}
a strong {
  color: inherit;
}

/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, "Microsoft YaHei";
  margin-bottom: .5rem;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
abbr {  /*缩写*/
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code {
  padding: .25em .5em;
  background-color: #f5f5f5;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  line-height: 1.4;
  overflow-x: auto;
  background-color: #f5f5f5;
}
pre code {
	padding: 0;
	color: inherit;     /*继承父节点*/
	background-color: transparent;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;  /*左边标记块*/
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/*images*/
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}


/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */
.page,
.post {
  margin-bottom: 4em;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
	text-align: center;
  color: #303030;
}

.page-title,
.post-title {
	text-align: center;
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
	text-align: center;
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}


/* archive in index.html */
.archive #timeline {
  position: relative; 
}

.archive #timeline:before {
	content: '';
	position: absolute;
	top: 0;
	left: -2px;
	height: 100%;
	width: 4px;
	background: #CDC5BF; 
}
.archive #timeline:after {
	content: "";
	display: table;
	clear: both; 
}
.archive .archive-title {
  position: relative;
  margin: 2em auto 1em; 
}
.archive .archive-title .archive-year {
	margin-left: 1em; 
}
.archive .archive-title .archive-year:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 50%;
	margin-left: -4px;
	margin-top: -4px;
	width: 8px;
	height: 8px;
	background: #8B8989;
	border-radius: 50%; 
}
.archive ul {
  list-style: none; 
}
.archive ul li {
  margin: 1em auto; 
}

/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
	border-bottom: 1px solid black;
}
.masthead-title a {
  color: #505050;
}
.masthead-title small {
	float: right;
	color: #9a9a9a;
}

@media (max-width: 48em) {
  .masthead-title {
    text-align: center;
  }
  .masthead-title small {
    display: none;
  }
}

/*
  Footer
*/

.footer {
  color: #999;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: #999;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: #333;
}

/* mathjax */
.MathJax_Display{overflow-x:auto;overflow-y:hidden;}
.MathJax{outline:0;}